# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

.DS_Store
.idea

.localeapp/
.ruby-gemset
.ruby-version

# rails generated
log/

.env